.app-flash {
  margin-bottom: var(--space-4);
  padding: var(--space-3) var(--space-4);
  border: var(--border-width) solid var(--color-highlight);
  border-radius: var(--border-radius-small);
  color: var(--color-text-body);
  background: var(--gray-3);
}